{% extends "base.html.twig" %}

{% block title %}
    Forum - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div class="push">
        <div id="forum" class="main">
            {% include "pages/front/partial/_forum_button.html.twig" %}

            <h2>Récents</h2>

            {% include "pages/front/partial/_module_chat.html.twig" %}
        </div>
    </div>

    {% include "pages/front/partial/forum_menu.html.twig" %}
{% endblock %}
