{% extends "base.html.twig" %}

{% block title %}
    Behive
{% endblock %}

{% block body %}

    <div class="home_logo"></div>
    <div id="main" class="home_main">
        <a href="" class="section first">
            <h2 class="nameCategorie">Catalogue</h2>
            <p class="home_decouvrir">Découvrir</p>
        </a>
        <a href="" class="section second">
            <h2 class="nameCategorie">Challenges</h2>
            <p class="home_decouvrir">Découvrir</p>
        </a>
        <a href="" class="section third">
            <h2 class="nameCategorie">Forum</h2>
            <p class="home_decouvrir">Découvrir</p>
        </a>
    </div>
{% endblock %}
