{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}

    {% include "pages/front/partial/menu.html.twig" %}

    <div id="profil" class="main profil_main">
        <div class="profil_header">

      <!--  <div class="canvas">
            <h2 class="level">47</h2>
            <input type="text" class="round" data-max="50" data-min="0" value="60" readonly="readonly" style="visibility:hidden" />
        </div>-->
        <div class="img_profil">
            <img src="img/max.jpg" width="164px" height="164px"/>
        </div>
            <h2 class="rang" style="font-weight: 400;">Max</h2>
            <h2 class="rang">Légionnaire</h2>
            <h2 class="rang littleTitle connexion" style="font-size:17px; text-transform: none;">Dernière connexion: Il y a 15h</h2>
            <h2 class="rang profil_lvl" style="float:right; font-weight:400;">Niveau</h2>
            <h2 class="rang profil_lvl_number" style="float:right;">22</h2>
        </div>

        <div class="profil_recompense">
            <div>
                <h2 class="title_profil">Récompenses</h2>
            </div>
            <div class="recompenses">
                <ul>
                    <li class="jeuGG"><img src="img/candy.png" /><p>Jeu gagné : Candy Crush</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge FIFA 16 : 3000 expérience - #1</p></li>
                    <li class="jeuGG"><img src="img/clash.png" /><p>Jeu gagné : Clash of Clans</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Rayman : 1000 expérience - #37</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Songpop : 1000 expérience - #24</p></li>
                    <li class="jeuGG"><img src="img/rayman.png" /><p>Jeu gagné : Rayman Adventures</p></li>
                    <li class="jeuGG"><img src="img/rayman.png" /><p>Jeu gagné : Rayman Adventures</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge King of Thieves : 3200 expérience - #89</p></li>
                    <li class="jeuGG"><img src="img/clash.png" /><p>Jeu gagné : Clash of Clans</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Clash of Clans : 2000 expérience - #121</p></li>
                    <li class="jeuGG"><img src="img/candy.png" /><p>Jeu gagné : Candy Crush</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Rayman : 1500 expérience - #143</p></li>
                </ul>
            </div>
        </div>

    <div class="recomp_jeux">
        <div class="profil_challenge">
            <div>
                <h2>Challenges</h2>
            </div>
            <div class="challenges"></div>
                <div class="contentText">
                    <h3><span class="position">#253</span><span class="title">Candy Crush Saga<span></h3>
                    <h3><span class="position">#12</span><span class="title">Rayman Adventures<span></h3>
                    <h3><span class="position">#45</span><span class="title">Clash of Clans<span></h3>
                    <h3><span class="position">#789</span><span class="title">FIFA 16<span></h3>
                    <h3><span class="position">#1253</span><span class="title">Guitar Hero<span></h3>
                    <h3><span class="position">#231</span><span class="title">Tap Tap Revenge<span></h3>
                    <h3><span class="position">#1</span><span class="title">Might And Magic V<span></h3>
                    <h3><span class="position">#4</span><span class="title">Flappy Bird<span></h3>
                    <h3><span class="position">#87</span><span class="title">King of Thieves<span></h3>
                    <br>
                    <h3><a class="boutonSubmit" href="challenges.html">Voir tous les challenges...</a></h3>
                </div>
            </div>
            <div class="profil_jeux">
                <h2>Jeux (34)</h2>
                <div class="contentText contentText_jeux">
                    <h3><a href="detail.html">Candy Crush Saga</a></h3>
                    <h3><a href="detail.html">Clash of Clans</a></h3>
                    <h3><a href="detail.html">Rayman Adventures</a></h3>
                    <h3><a href="detail.html">King of Thieves</a></h3>
                    <h3><a href="detail.html">Guitar Hero</a></h3>
                    <h3><a href="detail.html">Tap Tap Revenge</a></h3>
                    <h3><a href="detail.html">Doodle Jump</a></h3>
                    <h3><a href="detail.html">Flappy Bird</a></h3>
                    <h3><a href="detail.html">Might and Magic V</a></h3>
                    <br><br>
                    <h3><a href="catalogue.html" class="boutonSubmit">Voir tous les jeux...</a></h3>
                </div>
            </div>
        </div>

        </div>



{% endblock %}
