{% extends "base.html.twig" %}

{% block title %}
    Connexion - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="log" class="push">
        <img src="{{ asset('img/logo.png') }}" alt="logo" width="110px">
    </div>

    <div id="login">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('front_login') }}" method="post">
            <label for="logins">Login</label>
            <input id="logins" name="_username" type="text">


            <label for="password">Mot de passe</label>
            <input id="password" name="_password" type="password">

            <div>
                <input type="submit" value="Valider">
            </div>
        </form>

        <a href="inscription.html"class="boutonSubmit">S'inscrire</a>

        <div style="text-align:center;margin-top:10px;">
            <a href="#">Mot de passe de perdu ?</a>
        </div>
    </div>
{% endblock %}
