{% extends "back_base.html.twig" %}

{% block body %}
    <h2>Edition : {{ ressourceHelper }}</h2>

    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset(image) }}" alt="" class="img-responsive center-block edit-img">
        </div>
    </div>

    {% if app.request.get('ressource') == "challenge" %}
        {% include "pages/back/partial/_limits-form.html.twig" %}
    {% else %}
        {% include "pages/back/partial/_form.html.twig" %}
    {% endif %}
{% endblock %}
