{% extends "back_base.html.twig" %}

{% block body %}
    <h2>Modifier {{ app.request.get('ressource') }}</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-warning" value="Modifier">
    </div>
    {{ form_end(form) }}
{% endblock %}
