{% set val = 80 %}
{% for flash in app.session.flashbag.get('notif') %}
    <div class="notification" style="top: {{ val }}px">
        <a href="{{ path('profil') }}" >
            <img src="{{ asset('img/logoGrey.png') }}" alt="logo" />
            {{ flash|raw }}
        </a>
    </div>
    {% set val = val + 60 %}
{% endfor %}
