<div class="notification">
    <a href="{{ path('profil') }}" >
        <img src="{{ asset('img/logoGrey.png') }}" alt="logo" />
        <h4>Vous avez remporté un challenge !</h4>
        <p>Récompense: 1000xp / COD Black Ops</p>
    </a>
</div>