{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div>
        <input type="submit" class="btn btn-warning" value="Enregistrer">
    </div>
{{ form_end(form) }}
