<div class="header-section">
    <div class="menu-right">
        <div class="user-panel-top">

            <div class="profile_details_left">
                <ul class="nofitications-dropdown">
                    <li><a class="" href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>

            <div class="profile_details">
                <ul>
                    <li class="profile_details_drop">
                        <div class="profile_img">
                            <div class="user-name">
                                <p>{{ app.user.username }} <span>Admin</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
