{% extends "base.html.twig" %}

{% block title %}
    Behive
{% endblock %}

{% block body %}
    <header>
        <a class="profil" href="profil.html"></a>
        <h1><a href="index.html">Behive</a></h1>
    </header>

    <div id="main" class="main">
        <a href="" class="section first">
            <h2 class="nameCategorie">Catalogue</h2>
        </a>
        <a href="" class="section second">
            <h2 class="nameCategorie">Challenges</h2>
        </a>
        <a href="" class="section third">
            <h2 class="nameCategorie">Forum</h2>
        </a>
    </div>
{% endblock %}
