{% extends "base.html.twig" %}

{% block title %}
    Explorer {{ game.name }} - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div class="push">

    </div>

    {% include "pages/front/partial/forum_menu.html.twig" %}
{% endblock %}
